@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700');


* {
    box-sizing: border-box;
    font-family: Montserrat;
    color: #777;
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 2em;
    padding: 30px;
}

.content-section {
    margin: 1em;
}

.wrapper{
    max-width: 1000px;
    margin: 20px auto;
    padding:  2em;
    background-color: #e1dede;
    border-radius: 5px;
}
.section-title {
    color: #333;
    text-align: center;
    font-size: 1.7em;
    text-transform: uppercase;
    
}

.btn {
    text-align: center;
    vertical-align: middle;
    padding: .67em .67em;
    cursor: pointer;
}

.btn-primary {
    color: white;
    background-color: green;
    border: none;
    border-radius: .3em;
    font-weight: bold;
    &:hover {
        background-color: green;
    }
}

.store-items{
    display: flex;
}
.store-item {
    margin: 30px;
}

.store-item-title {
    display: block;
    width: 100%;
    font-weight: bold;
    font-size: 1.3em;
    color: #333;
    margin-bottom: 15px;
}

.store-item-image {
    height: 250px;
}

.store-item-details {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    margin-top: 20px;
}

.store-item-price {
    flex-grow: 1;
    color: #333;
    font-weight: bold;
}

.store-store {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cart-title {
    font-weight: bold;
    font-size: 1em;
    color: #333;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 1em;
    color: #333;
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.btn-remove {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    &:hover {
        background-color: #CC4C4C;
    }
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid green;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.1em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.3em;
    color: black;
    margin-right: 20px;
}

.cart-total-price {
    color: #333;
    font-size: 1.1em;
}

.btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.25em;
}